

<nav class="navbar">
  <div class="navbar-title">EmployeeManagementSystem</div>
  <ul class="navbar-menu">
    <li><a href="{% url 'home' %}">Home</a></li>

    {% if request.user.is_authenticated %}
    <li class="dropdown">
      <a class="dropdown-toggle">{{request.user.username}}</a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li><a href="{% url 'add_employee' %}">Add Biodata</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </li>
    {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
  </ul>
</nav>