{% extends "base.html" %}
{% block title %} Home {% endblock title %}
{% block content %}


<h1>Employee Details</h1>
<div class="table-container">
  
  <table class="center-table">
    
      <thead>
          <tr>
              <th>Name</th>
              <th>Designation</th>
              <th>Description</th>
          </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
        <tr>
          <td>{{employee.name}}</td>
          <td>{{employee.designation}}</td>
          <td>{{employee.short_description|truncatechars:10}}</td>
        </tr>
        {% endfor %}
          
      </tbody>
  </table>
</div>




{% endblock content %}